<form action="/messages">
    <div>
        <label>Author:</label>
        <input type="text" name="author" value="<%=  @message.author %>">
    </div>
    <div>
        <label>Subject:</label>
        <input type="text" name="title" value="<%=  @message.title %>">
    </div>
    <div>
        <label>Content:</label>
        <input type="text" name="content" value="<%=  @message.content %>">
    </div>
    <div> 
        <input type="submit" value="Submit">
    </div>
</form>